@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.css';
@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Tinos:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter var';
}
a {
  color: inherit;
  text-decoration: none;
}

/* Hide the browser's default radio button */
.hidden {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}



/* Create a custom radio button */
.checkmark {
  position: relative;
  border: 1px solid #ccc;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}

/* Create the indicator (hidden when not checked) */
.checkmark::before {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (tick) when checked */
.checkmark.checked::before {
  display: block;
  content: '\2713';
  color: green;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}



.containerr {
  display: flex;
  flex-direction: column;

}

.image-container {
  order: 1;
}

.bordosuperiore {
  padding-top: 20px;
}


.bordosinistro {
  order: 2;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .containerr {
    flex-direction: row;
  }
  
  .image-container {
    order: 2;
  }

  .bordosinistro {
    order: 1;
  }
}

.bordospaziatore {
  padding-top: 20px;
}



.block3 {
  display: block;
  width: 90%;
}


.block2 {

  padding: 20px;
}

.bordosinistro {
  width: 100%;
}


.ombrasotto {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);

}

.ridotto {
  width:70%; /* you can use % */
  height: auto;
}


.immaginesecondo {
  background-color: black;
  width: 100%;
}


.altezzamassima {
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.riduzioneimmagine {
  width: 7vw;
  margin-right: 3vw;
}


* {
  box-sizing: border-box;
}

  .complete {
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 10px green; 
    height: 100%;
  }
  
  
  .radio-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
    padding-left: 20px;

  }
  
  .marginesinistro {
    margin-left: 100px;
  }


  .tasto {
    display: flex;
  }


  .radio-button input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width:2rem;
    height: 2rem;
    border: 1px solid #000;
    border-radius: 50%; /* Change border-radius to 50% for a circular shape */
    margin-right: 10px;
    padding: 0;
    outline: none;
    cursor: pointer;
    
  }
  
  .radio-button input[type="radio"]:checked {
    background-color: #000;
  }
  
  .radio-button input[type="radio"]:hover:not(:checked) {
    background-color: #ccc;
    border-radius: 20px; /* Optional: Add border-radius here if you want a rounded hover effect */
  }
  

.bordoalto {
padding-top: 20px;

  }



.space {
  padding-top: 20px; 
}

         
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textt {
    text-align: left;
    padding-bottom: 30px;
    padding-top: 10px;
}

 
.grande {
  font-size: 1.3em;
  line-height: 1.2;
  }
          
           
.hidden {
  visibility: hidden;
  position: absolute;
  }
          
.custom-radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  border: 2px solid #000;
  margin-right: 10px;
  }
          
.custom-radio.selected {
    background: #000; /* Black color when selected */
  }
          
.result-indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px; /* Some spacing from the radio button */
    background: grey; /* Grey color before form is submitted */
    }
          
.result-indicator.correct {
  background: green; /* Green color when the answer is correct */
  }
          
.result-indicator.incorrect {
  background: red; /* Red color when the answer is incorrect */
  }
          
.result-indicator.unsubmitted {
  background: grey; /* Grey color before form is submitted */
  }
  

.grigio {
  background-color: #f6f7f7;
  border-radius: 10px;
  padding: 20px;
  }
 

  .bordoalto {
  padding-top: 30px;
  padding-bottom: 30px;
}
 

.bottoneprimario {
  background-color: black;
  font-size: 1rem;
  color: #fff;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  width: 30%;
}


.bottonesecondario {
      background-color: black;
      font-size: 1rem;
      color: #fff;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      border-radius: 0.5rem;
      width: 200%;
}



.spazioinalto {
  padding-top: 80px;
  }

  


  .bordo {
    border: solid 4px green;

  }






.myriam {
  padding: 4px;
  border: solid 2px red;
  border-radius: 10px;
}


/* Style the progress bar track */
progress::-webkit-progress-bar {
  background-color: #e5e6e6; /* The slider color is now yellow */
  border-radius: 5px;
}

/* Style the progress bar value */
progress::-webkit-progress-value {
  background-color: #676969;
  border-radius: 5px;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-left: 0.5rem; /* adjust as needed */
}


.img {
  pointer-events: none;
}


.qwerty {
  width: 100vw;
  place-items: center;
}